body {
    font-size: 12px;
    font-family: sans-serif;
    margin: 0;
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    color: white;
    
    background-image: url('images/team.jpg');
    background-size: cover; /* Scale the image to cover the container */
    background-position: center top; /* Center horizontally and position the image to cut off the top */
    background-attachment: fixed;
    background-repeat: no-repeat; /* Prevent the image from repeating */

    overflow-x: hidden;
}

  

h1 {
  font-size: 40px;
  margin: 5px;
}

p {
  font-size: 18px;
  margin: 5px;
}


.content {
  position: absolute;
  width: 99%;
  height: 100%;
  margin: 0 auto;
}

.section {
  width: 70%;
  text-align: center;
  background-color: rgba(0, 0, 0, .9);
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  padding-left: 50px;
  padding-right: 50px;
}
